{{!-- handlebar to create a new post --}}

<div class="card">
    <h3 class="card-header">Create New Post</h3>
    
    <form class="card-body new-post-form" id="newpost-form">

        <label for="title-post" class="form-label">Title</label>
        <input type="text" id="title-post" name="title-post" class="form-input" />


        <label class="form-label" for="content-post">Content</label>
        <input id="content-post" name="content-post" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/public/js/addpost.js"></script>
